* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* ensures it stays above other content */
    background-color: white;
    padding: 1.2vw 2vw;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav.navbar a {
    text-decoration: none;
    color: #0967ff;
    font-family: Arial, sans-serif;
    font-size: 1.3vw;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: 0.8vw;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-right: 5vw;
}

nav.navbar img {
    height: auto;
    width: 10vw;
    min-width: 80px;
    max-width: 250px;
}

#userName {
    color: rgb(24, 24, 244);
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
    box-shadow: 0 1px 1px 1px rgba(173, 157, 157, 0.1);
    border-radius: 6px;
    padding: 0.5vw;
    overflow: hidden;
}

.content h1 {
    color: #000;
    margin-left: 1.2vw;
    padding: 0.6vw;
    font-size: 2.2vw;
}

#addPost {
    background-color: rgb(24, 24, 244);
    color: white;
    padding: 0.5vw 1vw;
    font-size: 1.2vw;
    border: none;
    border-radius: 0.7vw;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3.5vw;
}

.success {
    color: green;
    background-color: #d6f5ff;
    padding: 10px;
    margin-top: 1.2vw;
    display: inline-block;
    font-size: 1.4vw;
    border-radius: 5px;
    margin-left: 2vw;
}
